body {
  background: #a9a9a9;
  background-position: center;
  background-size: cover;
  background-repeat: none;
  height: 100%;
  margin: 0;
  padding: 0;
}

#background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-image: url('/pokecardsPic.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: -1;
}

.custom-navbar-color {
  background-color: #546686;
  color: #ffffff;
}

.custom-navbar-color .navbar-brand,
.custom-navbar-color .nav-link,
.custom-navbar-color .navbar-toggler-icon,
.custom-navbar-color .btn-outline-success {
  color: #ffffff;
}

.custom-navbar-color .navbar-toggler {
  border: none;
}

.custom-navbar-color .dropdown-menu {
  border: none;
}

.nav-link-active {
  color: #ffffff;
}

#page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#footer {
  flex-shrink: 0; /* Prevents the footer from shrinking */
  margin-top: auto; /* Automatically places margin top to push the footer down */
}